.checked::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #21562a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background 0.3s ease-in-out;
}
